@tailwind base;
@tailwind components;
@tailwind utilities;


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: red;
  padding: 1rem 5rem;
  width: 100vw;
  border-bottom: 0.1rem solid slateblue;
   

}
 .header h1 {
    color: blue;
    font-style: italic;
    margin-right: 3rem;
  }


.navbarTop {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: right;
  background-color: #f9f9f9;
  gap: 2rem;
  padding: 1rem 5rem;
  align-content: end;
  font-size:  1.4rem;
}